.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    font-family: Arial, sans-serif;
}

.card-layout {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.banco-logo {
    height: 30px;
    width: 50px;
    margin-right: 5px;
}

.imagen {
    height: 70px;
    width: 70px;
    margin-left: 100px;
}

.titulo1 {
   font-size: 20px;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo2 {
    font-size: 18px;
    color: rgb(255, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .titulo3 {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}

.titular {
    font-style: italic;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.numero {
    font-weight: bold;
    margin: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton-copiar {
    background: linear-gradient(to bottom, #f7e29c, #e6c200);
    border: 2px solid #8c7300;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.boton-copiar:hover {
    background: linear-gradient(to bottom, #ffefba, #f5d300);
    transform: translateY(-2px); /* Efecto levitar al pasar el mouse */
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
}

.boton-copiar:active {
    transform: translateY(1px); /* Efecto al hacer clic */
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

/* HEADER ESTILO */
.header {
    background: #202020;/* Gris claro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-titulo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.header-logo {
    height: 65px; /* Tamaño del logo en el header */
}

